<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test Application{% endblock %}</title>

        {% block stylesheet %}
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/nouislider.css') }}" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <link href="{{ asset('vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" media="all" href="{{ asset('css/styles.css') }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>
    <body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand " href="{{ path("app_homepage") }}"><span> GAP </span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="page-scroll">
                        <a href="{{ path("app_agencies") }}">Агенства</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ path("app_advert") }}">Объявления</a>
                    </li>
                    <li class="hidden">
                        <a href=""></a>
                    </li>
                    <li>
                        <a href="{{ path("app_add_advert") }}">Добавить объявление</a>
                    </li>
                    <li>
                        <a  style="background: none;"></a>
                    </li>

                    <li class="page-scroll">

                        <a style="background: none; padding-top: 0px; "  class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user fa-2x"></i></a>

                        <ul class="dropdown-menu" id="menu-dropdown">
                            <li> <button type="button" class="btn btn-success btn-lg">
                                    <a class="btn btn-success btn-lg" href="{{ path("app_registration") }}"> Моя страница </a>
                                </button>
                            </li>
                            <li> <button type="button" class="btn btn-lg btn-success" name="Out">
                                    <a href="{{ path("logout") }}" class="btn btn-success btn-lg">Выйти</a>
                                </button>
                            </li>
                        </ul>


                    </li>
                </ul>
            </div>

        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block body %}
    {% endblock %}


    <!-- Footer -->
    <footer class="text-center" id="contacts">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Контакты</h3>
                        <p>Моб. телефон: (29) 8548460 (МТС)
                            <br>Mail: gapanovich-vlad@mail.ru</p>
                    </div>
                    <div class="footer-col col-md-4" id="footer">
                        <h3>Наши соцсети</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="http:\\www.facebook.com" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http:\\www.plus.google.com" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="http:\\www.twitter.com" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http:\\www.vk.com" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-vk"></i></a>
                            </li>
                            <li>
                                <a href="http:\\www.youtube.com" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Другие работы</h3>
                        <p>Со временем что-нибудь здесь напишу.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll  hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

            <!-- Plugin JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

            <!-- Contact Form JavaScript -->
            <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
            <!-- Theme JavaScript -->
            <script src="{{ asset('js/freelancer.min.js') }}"></script>

        {% endblock %}
    </body>

</html>


