{% extends '@appBundle/base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <link href="{{ asset('css/agencies.css') }}" rel="stylesheet">
    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<!-- Header -->
<header>
    <div class="container" id="header">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="../images/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">НЕДВИЖИМОСТЬ</span>
                    <hr class="star-light">
                    <span class="skills">Ты сделаешь правильный выбор</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>популярные Агенства</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for agency in agencies %}
                <div class="col-sm-4 agencies-item">
                        <a href="#agenciesModal"  id="{{ agency.id }}" class="agencies-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ asset('images/agencies/'~agency.logo) }}" class="img-responsive" alt="">
                        </a>
                </div>
            {% endfor %}

            <div class="col-lg-8 col-lg-offset-2 text-center" >
                <a href="{{ path("app_agencies") }}" class="btn btn-success btn-lg">
                    Подробнее
                </a>
            </div>
    </div>
    </div>
</section>

<div class="agencies-modal modal fade" id="agenciesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 id="name">  </h2>
                        <hr class="star-primary">
                        <img src="" class="img-responsive img-centered" alt="" id="logo">
                        <p id="address"></p>
                        <p id="phone"> </p>
                        <p id="secondPhone"></p>
                        <p id="thirdPhone"></p>
                        <p id="license"></p>

                        <ul class="list-inline item-details">
                            <li>Mail:
                                <strong>
                                    <a href="" id="email"></a>
                                </strong>
                            </li>
                            <li>Сайт:
                                <strong>
                                    <a href="" id="site" target="_blank"></a>
                                </strong>
                            </li>
                            <li>Дата:
                                <strong id="date">
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Выход</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/agencies.js') }}"></script>


    {{ parent() }}

{% endblock %}