{% extends '@appBundle/base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <link href="{{ asset('css/agencies.css') }}" rel="stylesheet">
    <link href="{{ asset('css/nouislider.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <br>
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-3 text-center">
                <h2>Агенства</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label">Количество построенных объектов</label>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-2" id="left-range"></div>
                        <div class="col-xs-3 col-xs-offset-1" id="right-range"></div>
                    </div>
                    <br>
                    <div class="col-sm-10">
                        <div id="slider" class="noUi-target noUi-ltr noUi-horizontal"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Наличие гарантии
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-9">
                {% for agency in agencies %}
                    <div class="col-sm-6 agencies-item"  numberObjects="{{ agency.numberObjects }}">
                        <a href="#agenciesModal"  id="{{ agency.id }}" class="agencies-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>

                            <img src="{{ asset('images/agencies/'~agency.logo) }}" class="img-responsive" alt="">
                        </a>

                        <div class="col-sm-12 text-center">
                            <h3>{{ agency.name }}</h3>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    </div>
</section>

<div class="agencies-modal modal fade" id="agenciesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 id="name">  </h2>
                        <hr class="star-primary">
                        <img src="" class="img-responsive img-centered" alt="" id="logo">
                        <p id="address"></p>
                        <p id="phone"> </p>
                        <p id="secondPhone"></p>
                        <p id="thirdPhone"></p>
                        <p id="license"></p>

                        <ul class="list-inline item-details">
                            <li>Mail:
                                <strong>
                                    <a href="" id="email"></a>
                                </strong>
                            </li>
                            <li>Сайт:
                                <strong>
                                    <a href="" id="site" target="_blank"></a>
                                </strong>
                            </li>
                            <li>Дата:
                                <strong id="date">
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Выход</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/agencies.js') }}"></script>
    <script src="{{ asset('js/nouislider.js') }}"></script>

    {{ parent() }}

{% endblock %}