{% extends "@appBundle/base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('css/add_advert.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    {{ parent() }}
{% endblock %}

{% block body %}
<br>
<section id="contact">
    <div class="container">

        <div class="row">

            <ul class="nav nav-tabs" id="myTab">
                <li>
                    <a href="#upload_photo" data-toggle="tab">Загрузка фотографий</a>
                </li>

                <li>
                    <a href="#address" data-toggle="tab" class="disabled">Адрес</a>
                </li>

                <li>
                    <a href="#description" data-toggle="tab" class="disabled">Описание квартиры</a>
                </li>

                <li>
                    <a href="#cost" data-toggle="tab" class="disabled">Cтоимость</a>
                </li>

                <li>
                    <a href="#personal_data" data-toggle="tab" class="disabled">Личные данные</a>
                </li>
            </ul>

            {{ form_start(form, {'action': path('app_add_advert'),
                'attr': {'enctype': 'multipart/form-data', 'id': 'upload'}}) }}

            <div class="tab-content">
                <div class="tab-pane fade in active" id="upload_photo">
                    <div id="filedrag" class="col-lg-12 box">
                      <div class="caption-box box"></div>

                      <div class="box col-xs-12 text-center">
                      {{ form_row(form.image.files) }}
                      </div>

                      <div class="box text-center" id="filedragtext">
                          <h4>или перетащите их сюда</h4>
                      </div>

                      <div id="img-list" class="box row"></div>

                    </div>
                    {{ form_row(form.image.headpiece) }}
                </div>
                <div class="tab-pane fade" id="address">
                        <div class="form-group col-xs-6 col-sm-offset-3 floating-label-form-group controls">
                            <div class="row text-center"><h3>Адрес</h3></div>
                            {{ form_row(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Адрес'}}) }}
                        </div>
                    <div class="col-sm-2 "></div>
                </div>
                <div class="tab-pane fade" id="description">

                    <div class="row control-group col-sm-6">

                        <div class="row text-center"><h3>Количество комнат</h3></div>

                        <div class="form-group col-sm-4 col-sm-offset-4 floating-label-form-group controls">
                            {{ form_row(form.numberOfRooms, {'attr': {'class': 'form-control', 'placeholder': 'Количество комнат'}}) }}
                        </div>

                    </div>

                    <div class="row control-group col-sm-6">

                        <div class="row text-center"><h3>Площадь</h3></div>
                        <div class="form-group col-sm-3 floating-label-form-group controls">
                            {{ form_row(form.totalArea, {'attr': {'class': 'form-control', 'placeholder': 'Общая'}}) }}
                        </div>
                        <div class="col-sm-1 align-center delimiter">/</div>
                        <div class="form-group col-sm-3 floating-label-form-group controls">
                            {{ form_row(form.livingSpace, {'attr': {'class': 'form-control', 'placeholder': 'Жилая'}}) }}
                        </div>
                        <div class="col-sm-1 align-center delimiter">/</div>
                        <div class="form-group col-sm-3 floating-label-form-group controls">
                            {{ form_row(form.kitchenArea, {'attr': {'class': 'form-control', 'placeholder': 'Кухня'}}) }}
                        </div>

                    </div>

                    <div class="row control-group col-sm-12">
                        <br>
                        <div class="row text-center"><h3>Другие данные</h3></div>
                        <div class="col-sm-6">
                            <div class="form-group col-sm-2 col-sm-offset-5 floating-label-form-group controls">
                                {{ form_row(form.floor, {'attr': {'class': 'form-control', 'placeholder': 'Этаж'}}) }}
                            </div>
                            <div class="col-sm-1 align-center delimiter">/</div>
                            <div class="form-group col-sm-3 floating-label-form-group controls">
                                {{ form_row(form.floorInHouse, {'attr': {'class': 'form-control', 'placeholder': 'Этажей в доме'}}) }}
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group col-sm-4  floating-label-form-group controls">
                                {{ form_row(form.ceilingHeight, {'attr': {'class': 'form-control', 'placeholder': 'Высота потолков'}}) }}
                            </div>
                            <div class="form-group col-sm-4 col-sm-offset-1  floating-label-form-group controls">
                                {{ form_row(form.yearOfConstruction, {'attr': {'class': 'form-control', 'placeholder': 'Год постройки'}}) }}
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-sm-12">
                        <br>
                        <hr style="width: 100%; border-color: #220000; border-top: solid 3px;">
                        <br>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2">
                        {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Описание квартиры'}}) }}
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="cost">
                    <div class="row col-sm-12 text-canter">
                        <div class="form-group col-sm-2  col-sm-offset-5 floating-label-form-group controls">
                            {{ form_row(form.price, {'attr': {'class': 'form-control', 'placeholder': 'form.price'|trans}}) }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="personal_data">
                    <div class="row col-sm-12 text-center">
                        <div class="col-sm-4 col-sm-offset-4 form-group">
                            <div class="row col-sm-11 text-center">
                                <br>
                                <h4>Время звонков</h4>
                            </div>     <div class="col-sm-1"><br></div>
                            <div class="row col-sm-12">
                                <div class="col-xs-1">
                                    <h4>ОТ</h4>
                                </div>
                                <div class="col-xs-4 form-select ">
                                    {{ form_row(form.timeToCallStart) }}
                                </div>
                                <div class="col-xs-1">
                                    <h4>ДО</h4>
                                </div>
                                <div class="col-xs-4 form-select ">
                                    {{ form_row(form.timeToCallEnd) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-2 col-sm-offset-3  floating-label-form-group controls">
                            {{ form_row(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'form.phone'|trans}}) }}
                        </div>
                       <div class="form-group col-sm-2  col-sm-offset-1 floating-label-form-group controls">
                            {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'form.first_name'|trans}}) }}
                       </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-3 text-center">
                            <br><br>
                            {{ form_row(form.save)}}
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12 text-center">
                    <br>
                    <button id="next" class="btn btn-success btn-lg">{{ 'button.next'|trans }}</button>
                </div>
            </div>

            {{ form_end(form) }}


        </div>
    </div>

</section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/add_advert.js') }}"></script>

    {{ parent() }}

    <script src="{{ asset('js/filedrag.js') }}"></script>
{% endblock %}