#myTab li a.disabled,
#myTab li a.disabled:active,
#myTab li a.disabled:hover,
#myTab li a.disabled:focus{
    background-color: white;
    border: none;
    opacity: 0.5;
    cursor: default;
}
#myTab li{
    width: 20%;
    text-align: center;
    font-size: 1.3em;
}
#myTab li a{
    margin: 3%;
}
#myTab li.active a{
    background-color:#efefef;
    border: none;
    vertical-align: middle;
}
#myTab li.success{
    border-bottom: 1px solid green;
    color: green;
}
input[type="file"]{
    width: 30%;
    margin: 3% 35%;
}
@media (max-width: 768px) {
    input[type="file"]{
        width: 60%;
        margin: 7% 20%;
    }
}
input[type="file"]::-webkit-file-upload-button {
    border: 1px solid #18BC9C;
    border-radius: 3px;
    color: #fff;
    background-color: #18BC9C;
    padding: 10px;
    width: 100%;
    text-align: center;
}
#filedragtext{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
#filedrag
{
    box-sizing: border-box;
    width: 100%;
    display: none;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    cursor: default;
    font-size: 1.5em;
    background-color: #c8dadf;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
@media (max-width: 768px) {
    #filedrag {
        outline-offset: -5px;
    }
}
#filedrag.is-dragover{
    outline-offset: -15px;
    outline-color: #c8dadf;
    background-color: #fff;
}
.caption-box {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-sizing: border-box;
    border: 2px solid black;
}
#img-list{
    box-sizing: border-box;
    padding: 3em;
    padding-top: 0;
    font-size: .7em;
}
#img-list div{
    float: left;
    padding: 0;
    border-radius: 3px;
    margin: 0 auto;
}
#img-list div div.img-header{
    padding: 1% 0;
    color: white;
}
#img-list div img{
    height: 90px;
    cursor: pointer;
    margin: 0 .5em;
    border-radius: 3px;
}
@media (max-width: 800px) {
    #img-list img{
        height: 80px !important;
    }
    #img-list div div.img-header{
        font-size: .9em;
    }
}
#img-list div.active,
#img-list div.active:hover,
#img-list div.active .img-header,
#img-list div.active img:hover,
#img-list div.active div.info-div p{
    background-color: #1BA39C;
    box-shadow: none;
    color: white;
}
#img-list div img:hover{
    box-shadow: 0 0 10px rgba(200,30,30,0.9);
}
#img-list div div.info-div{
    padding: 0 3%;
}
#img-list div div.info-div p{
    width: 100%;
    margin: 0;
    font-size: .8em;
}
#img-list div div.delete{
    background-color: #F64747;
    border-radius: 3px;
    width: 50%;
    margin: 0 25%;
    padding: 3%;
    color: white;
    margin-bottom: 1%;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.3em;
    padding-top: 0px;
    border-top:  none !important;
    border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.2em;
    background: none;
    box-shadow: none !important;
    resize: none;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}
.floating-label-form-group-with-focus label {
    color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}
.delimiter{
    font-size: 50px;
    color: #666;
}.form-select label{
     display: none;
 }
img.active, .img-circle {
    box-sizing: border-box;
    width: 75px !important;
    height: 75px !important;
    cursor: pointer;
    margin: 0 1px !important;
    -webkit-transition-property: border; /* Safari */
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-property: border;
    transition-duration: 0.2s;
}
@media (max-width: 768px) {
    img.active, .img-circle {
        width: 30px !important;
        height: 30px !important;
    }

    img.active{
        border: .01em solid #18BC9C;
    }
}

img.active{
    border: 5px solid #18BC9C;
}