.advert-item {
    margin: 0 0 15px;
    right: 0;
}
.advert-item .advert-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}
.advert-item .advert-link .caption {
    background: rgba(24, 188, 156, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
.advert-item .advert-link .caption:hover {
    opacity: 1;
}
.advert-item .advert-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}
.advert-item .advert-link .caption .caption-content i {
    margin-top: -12px;
}
.advert-item .advert-link .caption .caption-content h3,
.advert-item .advert-link .caption .caption-content h4 {
    margin: 0;
}
.advert-item {
    z-index: 2;
}
@media (min-width: 767px) {
    #advert .advert-item {
        margin: 0 0 30px;
    }
}
.advert-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    width: 90%;
    margin: 3% 5%;
    min-height: 100%;
    text-align: center;
}
.advert-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}
.advert-modal .modal-content .item-details {
    margin: 30px 0;
}
.advert-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.advert-modal .modal-content {
    padding: 0 0 100px 0;

}
.advert-modal .close-modal:hover{
    opacity: 0.4;
}
.advert-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);       /* IE 9 */
    -webkit-transform: rotate(45deg);   /* Safari and Chrome */
    z-index: 1051;
}
.advert-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);       /* IE 9 */
    -webkit-transform: rotate(90deg);   /* Safari and Chrome */
    z-index: 1052;
}
.advert-modal .modal-backdrop {
    opacity: 0;
    display: none;
}
.modal-img{
    position: relative;
    min-height: 1px;
    padding: 0;
}
img.active, .img-circle {
    box-sizing: border-box;
    width: 75px !important;
    height: 75px !important;
    cursor: pointer;
    margin: 0 1px !important;
    -webkit-transition-property: border; /* Safari */
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-property: border;
    transition-duration: 0.2s;
}
@media (max-width: 768px) {
    img.active, .img-circle {
        width: 30px !important;
        height: 30px !important;
    }

    img.active{
        border: .01em solid #18BC9C;
    }
}
img.active{
    border: 5px solid #18BC9C;
}
.modal-img{
    position: relative;
    min-height: 1px;
    padding: 0;
}