.agencies-item {
    margin: 0 0 15px;
    right: 0;
    z-index: 2;
}
.agencies-item .agencies-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}
.agencies-item .agencies-link .caption {
    background: rgba(24, 188, 156, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
.agencies-item .agencies-link .caption:hover {
    opacity: 1;
}
.agencies-item .agencies-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}
.agencies-item .agencies-link .caption .caption-content i {
    margin-top: -12px;
}
.agencies-item .agencies-link .caption .caption-content h3,
.agencies-item .agencies-link .caption .caption-content h4 {
    margin: 0;
}
@media (min-width: 767px) {
    #agencies .agencies-item {
        margin: 0 0 30px;
    }
}
.agencies-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    width: 90%;
    margin: 3% 5%;
    min-height: 100%;
    text-align: center;
}
.agencies-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}
.agencies-modal .modal-content img {
    margin-bottom: 50px;
}
.agencies-modal .modal-content .item-details {
    margin: 30px 0;
}
.agencies-modal .modal-content {
    padding: 100px 0;
}
.agencies-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.agencies-modal .close-modal:hover{
    opacity: 0.4;
}
.agencies-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051;
}
.agencies-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052;
}
.agencies-modal .modal-backdrop {
    opacity: 0;
    display: none;
}