header {
    text-align: center;
    background-image: url(../images/back.jpg);
    background-size: cover;
    color: white;
}
header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
header img {
    display: block;
    margin: 0 auto 20px;
}
header .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}
.intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}
@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    header .intro-text .name {
        font-size: 4.75em;
    }
    .intro-text .skills {
        font-size: 1.75em;
    }
}
#header{
    margin: 0 auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}