{% extends '@appBundle/base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <link href="{{ asset('css/advert.css') }}" rel="stylesheet">
    <link href="{{ asset('css/nouislider.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}
<br>
<section id="advert">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Объявления</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-4 col-sm-offset-3">Стоимость</label>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-2" id="left-range"></div>
                        <div class="col-xs-3 col-xs-offset-1" id="right-range"></div>
                    </div>
                    <br>
                    <div class="col-sm-10">
                        <div id="sliderAdvert" class="noUi-target noUi-ltr noUi-horizontal"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="countRoom" class="control-label col-sm-8 col-sm-offset-1">Количество комнат</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <select class="form-control" id="quantityRoom">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </form>
            </div>

            <div class="col-sm-9">
                <hr style="width: 100%; border-color: #1a242f; border-top: solid 3px;">
                {% for advert in adverts %}
                <div class='col-sm-6 advert-item' price="{{ advert.price }}">
                    <a href = '#advertModal' class='advert-link' data-toggle='modal'>
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>

                        <img src = 'images/agencies/cabin.png' class='img-responsive' alt = '' >
                    </a>

                    <div class="row" >
                        <div class="col-sm-4 text-center advert name" >
                            <h5> {{ advert.name }} </h5 >
                        </div >
                        <div class="col-sm-4" ></div >

                        <div class="col-sm-4 text-center price ">
                            <h5> {{ advert.price }} </h5 >
                        </div >
                    </div >

                    <div class="col-sm-12 text-center address">
                        <h5> {{ advert.address }} </h5>
                    </div >
                </div >
                    {% endfor %}
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <button class="btn btn-lg btn-success" onClick="change_Limit()">Больше</button>
                </div>
            </div>

        </div>
</div>
</section>

    <div class="advert-modal modal fade" id="advertModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-img">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-indicators">
                        <img src="images/back.jpg" data-target="#carousel-example-generic" data-slide-to="0" class="img-circle">
                        <img src="images/back.jpg" data-target="#carousel-example-generic" data-slide-to="1" class="img-circle active">
                        <img src="images/back.jpg" data-target="#carousel-example-generic" data-slide-to="2" class="img-circle">
                    </div>

                    <div class="carousel-inner">
                        <div class="item">
                            <img src="images/back.jpg">
                        </div>

                        <div class="item active">
                            <img src="images/back.jpg">
                        </div>

                        <div class="item">
                            <img src="images/back.jpg">
                        </div>
                    </div>

                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>

                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Выход</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/advert.js') }}"></script>
    <script src="{{ asset('js/nouislider.js') }}"></script>

    {{ parent() }}

{% endblock %}